@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #2ccf6d;
}

button {
  font-family:"Nunito Sans";
}
ul {
  list-style-type: none;
  padding-inline-start: 35px;
}
svg {
  width: 100%;
  visibility: hidden;
}
h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight:bold;
}
h2 {
  font-weight:bold;
}
.home-title {
  width: 80%;
  position: center;
  margin: 40px;
}

div > span {
  color: #000;
  font-size: large;
  font-weight: 600;
}
.notfound-container {
  margin: auto;
  width: 50%;
    padding: 10px;
}
.btn {
  z-index: 1;
  overflow: hidden;
  background: black;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}

.btn:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}
.btn:hover:before {
  width: 100%;
}

